.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02080c;
    width: 100%;
    min-height: 100vh;
    padding-top: 5%;
}
  
.card {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(27, 66, 66, 0.3);
    padding: 5%;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.card h1 {
    margin-bottom: 20px;
    font-size: 30px;
}
  
.card p {
    text-align: justify;
}
  
.informacion {
    margin-top: 20px;
}
  
.imagentutor {
    width: 150px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}
.infoTutor{
    color: rgba(255, 255, 255, 0.8);
    background-color: #0f7777;
    width: fit-content;
    border-radius: 6px;
    padding: 2px 6px;
    font-size: 14px;
    margin: 0 auto
}
.contenedorImagenes {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}
  
.ContenedorImgLeft {
    flex: 1;
}
  
.ContenedorImgRight {
    flex: 1;
    display: flex;
    flex-direction: column;
}
  
  
.imgLeft {
    width: 400px; 
    height: 430px; 
    object-fit: cover;
    margin-right: 10px;
}
  
.imgRight {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    margin-bottom: 10px; 
}

.caracteristicas{
    margin-top: 10%;
}

.iconosCaracteristicas{
    display: flex;
    flex-direction: column;
}

.icono{
    display: flex;
    flex-direction: row;
}

.backArrow{
    cursor: pointer;
    display: flex;
    align-items: center;
    max-width: 150px;
    margin: 0 auto; 
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    color: #0f7777;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: 20px;
    
}


@media (max-width: 768px) { 
    .contenedorImagenes {
      flex-direction: column; 
}
    .imgLeft,
    .imgRight {
        width: 100%; 
        max-width: none; 
        height: 100%;
        object-fit: cover; 
        margin: 0 0 10px 0; 
  }
  }