.mainTutores {
  background-color: #02080c;
  padding-bottom: 30px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  padding: 0 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
  height: 150px;
}

.title {
  color: #e2f8f1;
  font-size: 38px;
  opacity: 0.9;
  margin: 0;
  text-align: center;
}

.search {
  border: none;
  background-color: transparent;
  border-bottom: solid #e2f8f1 1px;
  color: #e2f8f1;
  padding: 6px;
  font-size: 16px;
  width: 200px;
  border-radius: none;
}

.search:focus {
  outline: none;
}


.search::placeholder {
  text-align: center;
}

.cardContainer {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.noResults {
  color: #e2f8f1;
  font-size: 20px;
  opacity: 0.7;
  text-align: center;
}

.edit {
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: flex;
  gap: 20px;
}

.edit button {
  padding: 7px 13px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  filter: saturate(0.3);
  transition: all 0.2s ease-in-out;
}

.edit button:hover {
  filter: saturate(1);
}

.add {
  background-color: #009416;
  color: #e2f8f1;
}

.del {
  color: #e2f8f1;
  background-color: rgb(201, 0, 0);
}

.link {
  text-decoration: none;
}

.formCont {
  height: 150px;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  color: #e2f8f1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  width: 1000px;
}

.input {
  background-color: transparent;
  border: none;
  resize: none;
  border-bottom: solid #e2f8f1 1px;
  width: 280px;
  font-size: 17px;
  padding: 6px;
  position: relative;
  font-family: system-ui;
  height: 30px;
  color: #e2f8f1;
}

.loader {
  transform: scale(0.6);
  filter: brightness(10);
}

.input::placeholder {
  color: #e2f8f1;
  opacity: 0.8;
  text-align: left;
  position: absolute;
  bottom: 5px;
  font-size: 15px;
}

.inpCont {
  display: flex;
  width: fit-content;
  align-items: flex-start;
  gap: 8px;
}

.label {
  font-size: 17px;
  width: 220px;
  margin-bottom: -2px;
}

.input:focus {
  outline: none;
}

.submit {
  padding: 7px 13px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #193c3c;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 50px;
}

.ico {
  color: white;
  font-size: 18px;
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .title {
    font-size: 32px;
  }
  .input {
    width: 240px;
    font-size: 15px;
    padding: 6px;
    height: 30px;
  }
  .submit {
    padding: 7px 13px;
    width: 240px;
    height: 40px;
  }
  .formCont {
    height: 180px;
  }
  .cardContainer {
    width: 50%;
    min-width: 0px;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 28px;
  }
  .header {
    padding: 0 50px;
  }
  .search {
    width: 150px;
  }
  .formCont {
    height: 330px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 30px;
  gap: 20px;
}

.btn_pagina {
  background-color: transparent;
  border: none;
  color: #e2f8f1;
  cursor: pointer;
  opacity: 0.7;
}

.active {
  transition: all 0.2s ease-in-out;
  opacity: 1;
  font-size: 16px;
  border-bottom: solid #e2f8f1 1px;
  padding: 2px;
}
