.cardContainer {
  width: 480px;
  height: 220px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  background-color: #193c3c;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: -1px -1px 81px -12px rgba(28, 90, 62, 0.1);
  -webkit-box-shadow: -1px -1px 81px -12px rgba(28, 90, 62, 0.1);
  -moz-box-shadow: -1px -1px 81px -12px rgba(28, 90, 62, 0.1);
}


.img {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  border-radius: 15px;
  width: 75%;
}

.info {
  margin: 0px;
  padding: 0px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 15px;
  height: 85%;
  /*   gap: 10px; */
}

.name {
  color: white;
  margin-bottom: -6px;
  margin-top: 0;
}
.profession {
  color: rgb(255, 255, 255);
  background-color: rgb(49, 98, 182);
  width: fit-content;
  border-radius: 6px;
  padding: 1px 5px;
  font-size: 15px;
}
.descrip {
  width: 90%;
  color: white;
  overflow: hidden;
  margin: 0;
}

.rating {
  color: rgb(255, 204, 0);
  font-size: 18px;
  display: flex;
  gap: 3px;
}

@media (max-width: 1200px) {
  .cardContainer {
    width: 400px;
    height: 220px;
  }
  .img {
    width: 35%;
  }
  .img img {
    width: 75%;
  }

  .info {
    margin: 0px;
    padding: 0px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 15px;
    height: 85%;
    /*   gap: 10px; */
  }
}

.link{
  font-size: 18px;
  color: white;
  transition: all .2s ease-in-out;
  transform: scale(0.1);
}

.infoCont{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  bottom: 15px;
  gap: 10px;
  color: white;
  font-size: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.cardContainer:hover .infoCont{
  opacity: .7;
}

.cardContainer:hover .link{
  transform: scale(1);
}