.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-image: linear-gradient(to top, #000000 20%, #00000000 , rgba(0, 0, 0, 0));

}

.logo{
  max-height: 50px;
  margin: 0;
}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
  font-size: 16px;
  color:  #e2f8f1;
}
.email{
  color: #e2f8f1;
  font-size: 16px;
  cursor: pointer;
}
