.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
  height: 80px;
  background-color: #000000;
  position: absolute;
  z-index: 3;
}
.navbarlogo img {
  max-height: 40px;
  cursor: pointer;
}
.navbarmenu {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 50px;
}
.item a {
  z-index: 1;
  color: #e2f8f1;
  position: relative;
  cursor: pointer;
}
.item a:hover {
  color: #e2f8f1;
  text-decoration: none;
}
.item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.item::after {
  content: "";
  border-bottom: solid #e2f8f1 2px;
  padding-top: 2px;
  width: 0%;
  height: 20px;
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s ease-in-out;
}
.item:hover::after {
  width: 100%;
}
.navbarbuttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 2;
}
.navbarbuttons a {
  color: #e2f8f1;
  text-decoration: none;
  padding: 3px 10px;
  border: 1px solid rgb(254, 254, 254);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navbarbuttons a:hover {
  color: rgb(0, 0, 0);
  background-color: #e2f8f1;
}
