* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

h1{
  font-size: 90px;
}
h2{
  font-size: 38px;
}

body{
  background-color: #c8a1a1;
}