.cardContainer {
  width: 490px;
  height: 220px;
  border-radius: 0 15px 15px 0;
  background-color: #ffffff11;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.6) -5px 0 20px 1px;
  overflow: hidden;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}
.favCont {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 99;
}
.fav {
  font-size: 20px;
  color: white;
  opacity: 0.6;
  transition: all 0.1s ease-in-out;
}
.fav:hover {
  opacity: 1;
  cursor: pointer;
}
.fav:active {
  transform: scale(0.8);
}

.favActive {
  opacity: 1;
  color: #26f7c6c9;
}

.g {
  position: relative;
  transition: all 0.1s ease-in-out;
}

.cardContainer::after {
  position: absolute;
  content: "";
  border-left: #4bc8ab solid 0px;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.cardContainer:hover::after {
  border-left: #4bc8ab solid 10px;
}

.g:hover {
  transform: scale(0.95);
}
.img {
  width: 40%;
  min-width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img img {
  width: 105%;
  min-height: 100%;
  filter: contrast(1.1);
}

.info {
  margin: 0px;
  padding: 0px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  height: 85%;
  gap: 12px;
  position: relative;
  padding-top: 20px;
}

.name {
  margin: 0;
  padding: 0;
  color: white;
  margin-bottom: -6px;
  margin-top: 0;
  line-height: initial;
  font-size: clamp(16px, 4vw, 22px);
  width: 95%;
  border: none;
}

.profession {
  color: #ffffff;
  background-color: #4bc8ab7d;
  width: fit-content;
  border-radius: 6px;
  padding: 1px 6px;
  font-size: 13px;
  position: absolute;
  top: 5px;
}
.descrip {
  color: white;
  margin: 0;
  width: 250px;
  opacity: 0.8;
  font-size: clamp(12px, 2vw, 13px);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rating {
  color: rgb(255, 204, 0);
  font-size: 18px;
  display: flex;
  gap: 3px;
  display: none;
}

.link {
  font-size: 20px;
  color: white;
  transition: all 0.2s ease-in-out;
  transform: scale(0.1);
}

.infoCont {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  bottom: 15px;
  gap: 10px;
  color: white;
  font-size: 15px;
  opacity: 0;
}

.cardContainer:hover .infoCont {
  opacity: 0.6;
}

.cardContainer:hover .link {
  transform: scale(1);
}

@media (max-width: 1200px) {
  .cardContainer {
    width: 100%;
  }
}
