.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

}

.logo {
  max-height: 50px;
  margin: 0;
}
.left {
  display: flex;
  justify-content: left;
  align-items: center;

  gap: 15px;
  width: 33%;
}

.left p{
  font-size: 14px;
  color: #e2f8f1;
  opacity: .7;
}
.email {
  text-decoration: none;
  color: #e2f8f1;
  font-size: 14px;
  cursor: pointer;
  width: 33%;
  text-align: right;
}

.email:hover {
  color: #e2f8f1;
  text-decoration: none;
}

.line{
  border-bottom: solid #e2f8f19a 1px;
  width: clamp(0px, 20vw, 30vw);
}


@media (max-width: 700px) {
  .footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
    gap: 10px;
    background-image: linear-gradient(
    to top,
    #000000 30%,
    #00000029,
    rgba(0, 0, 0, 0)
  );
  }
  .left{
    flex-direction: column;
    width: 50%;
  }
  .left p{
    font-size: 12px;
    text-align: center;
  }
  .email {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
}