.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  height: 80px;
  backdrop-filter: blur(40px);
  position: fixed;
  z-index: 99;
}
.navbarA {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  height: 80px;
  z-index: 99;
  top: 0;
}

.navbarL {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
  height: 80px;
  z-index: 99;
  top: 0;
}

.navbarlogo{
  justify-content: left;
  width: 33%;
}
.navbarlogo img {
  max-height: 40px;
  cursor: pointer;
}
.logo2 {
  display: none;
}
.navbarmenu {
  width: 33%;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: center;
}
.item a {
  z-index: 1;
  color: #e2f8f1;
  position: relative;
  cursor: pointer;
}
.item a:hover {
  color: #e2f8f1;
  text-decoration: none;
}
.item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.item::after {
  content: "";
  border-bottom: solid #e2f8f1 2px;
  margin-top: 3px;
  width: 0%;
  height: 20px;
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s ease-in-out;
}
.item:hover::after {
  width: 100%;
}
.navbarbuttons {
  width: 33%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  z-index: 2;
  justify-content: right;
  
}

.navSession {
  width: 33%;
  display: flex;
  color: #e2f8f1;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.navSession button {
  background-color: transparent;
  color: #e2f8f1;
  text-decoration: none;
  padding: 3px 10px;
  border: 1px solid rgb(254, 254, 254);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navSession button:hover {
  color: rgb(0, 0, 0);
  background-color: #e2f8f1;
}

.navSession p {
  cursor: pointer;
  margin: 0;
  font-size: 17px;
}

.navbarbuttons a {
  color: #e2f8f1;
  text-decoration: none;
  padding: 3px 10px;
  border: 1px solid rgb(254, 254, 254);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navbarbuttons a:hover {
  color: rgb(0, 0, 0);
  background-color: #e2f8f1;
}

.hamburger {
  display: none;
}

@media (max-width: 900px) {
  .navbarmenu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

/* HAMBURGUER MENU */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linetopbottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .linetopbottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
